{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {# Remove the "< Back" button from this instance of the template #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <!-- APPLICATION START DATE -->
      <h2 class="govuk-heading-l">Application start date</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Start date"
            },
            value: {
              text: "11/11/2021"
            },
            actions: {
              items: [
              ]
            }
          }
        ]
      }) }}

      <!-- PERSONAL DETAILS -->
      <h2 class="govuk-heading-l">Personal details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            },
            actions: {
              items: [
                {
                  href: "3-details",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Phillips"
            },
            actions: {
              items: [
                {
                  href: "3-details/about-you",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "27 11 1972"
            },
            actions: {
              items: [
                {
                  href: "3-details/dob",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Home address"
            },
            value: {
              html: '1 Sample Lane, Sampletown. SA4 7SH'
            },
            actions: {
              items: [
                {
                  href: "3-details/address",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to add a different address for your post?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "3-details/address-is-it-postal",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: "01234984123"
            },
            actions: {
              items: [
                {
                  href: "3-details/contact-phone",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have an email we can contact you on?"
            },
            value: {
              html: "Yes"
            },
            actions: {
              items: [
                {
                  href: "3-details/contact-do-you-have-an-email",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "What’s your email address?"
            },
            value: {
              html: 'sarah.phillips@example.com'
            },
            actions: {
              items: [
                {
                  href: "3-details/contact-email",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- BANK DETAILS -->
      <h2 class="govuk-heading-l">Bank details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Bank details"
            },
            value: {
              html: "<strong>Account holder:</strong> John Smith<br>
                <strong>Sort code:</strong> 15-00-11<br>
                <strong>Account number:</strong> 1234567"
            },
            actions: {
              items: [
                {
                  href: "3-details/bank-account",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- OTHER BENEFITS -->
      <h2 class="govuk-heading-l">Other benefits</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Are you waiting to hear about any other benefits?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "4-other-benefits",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- JURY SERVICE -->
      <h2 class="govuk-heading-l">Jury service</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Have you been on jury service in the last 12 weeks?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "5-jury-service",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- CURRENT EMPLOYMENT -->
      <h2 class="govuk-heading-l">Current employment</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Are you in any form of work at the moment?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "6-current-employment",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- PREVIOUS EMPLOYMENT -->
      <h2 class="govuk-heading-l">Previous employment</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Have you had a job that ended in the last 6 months?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "8-abroad",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- WORKING OR CLAIMING BENEFITS ABROAD -->
      <h2 class="govuk-heading-l">Working or claiming benefit overseas</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Have you worked or claimed benefit outside the United Kingdom in last 4 years?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "8-abroad",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- CURRENT PENSIONS -->
      <h2 class="govuk-heading-l">Current pensions</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Are you getting money from a pension or annuity?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                    href: "8-abroad",
                    text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- EDUCATION AND TRAINING -->
      <h2 class="govuk-heading-l">Education and training</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Have you been in education or training in the last 4 years?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "10-education",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        href: "https://green-zone-prototype.herokuapp.com/dth/sign-in"
      }) }}

    {% endblock %}
