
{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-panel__title--centred">Application sent</h1>
      </div>

    <p>We will send you confirmation of your application if you have provided a mobile number or email address.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You need to confirm your identity before we can process your application.
        </strong>
      </div>

      <div class="govuk-inset-text">
    The website address will change when you select 'continue'.
  </div>

      {{ govukButton({
        text: "Continue to confirm your identity",
        href: "https://green-zone-prototype.herokuapp.com/dth/register"
      }) }}

    </div>
  </div>

{% endblock %}
