{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Prototypes</span>
    Apply for New Style Jobseeker&rsquo;s Allowance
  </h1>


  <h2 class="govuk-heading-l">Citizen journey</h2>

  {{ govukButton({
    text: "Start",
    href: "v2_0-citizen/1-eligibility/introduction",
    classes: "govuk-button--start"
  }) }}


{% endblock %}
